{{> header}}

<h1>{{title}}</h1>

<div class="users">

    {{#users}}
        <section>
            <div class="user-login">
                <strong>{{login}}</strong>
            </div>
        </section>
    {{/users}}
</div>

</div>
